body {
    font-family: Helvetica, serif;
    margin: 50px;
    background-color: #222;
    color: #ddd;
}

details {
    margin: 20px 0;
}

#text, #triples {
    font-family: monospace;
}

.keyword {
    color: #a236ef;
}

.variable {
    color: aqua;
    font-family: monospace;
}

.string {
    color: chocolate;
}

#suggestions, #context-sensitive-suggestions {
    overflow: auto;
    max-height: 350px;
    display: inline-block;
}

#suggestions {
    width: 150px;
}

#context-sensitive-suggestions {
    width: 550px;
}

.suggestion {
    padding: 5px;
    font-family: monospace;
    background-color: #333;
}

.suggestion:hover {
    cursor: pointer;
    background-color: #444;
}

.primary-suggestion {
    background-color: #324327;
}
.primary-suggestion:hover {
    background-color: #597544;
}

.error {
    color: palevioletred;
}

a {
    color: lightblue;
}

#text, #sparqlJsOutput, #text-utilsOutput, #vocc, #nvocc {
    white-space: pre;
}

textarea {
    width: 600px;
    height: 200px;
    border: 1px solid dimgray;
    /* border-radius: 18px; */
    padding: 10px 15px;
    background-color: #333;
    color: #eee;
    resize: none;
}

textarea:focus-visible {
    outline: none;
}