## Results of testing the parsers

> [!NOTE]  
> the grammar used by SPARQL.js and text-utils differs slightly, 
> as text-utils uses some qlever extensions (e.g. prefix langtags,
> TEXTLIMIT)